
main {
    margin: 20px auto;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the career storyline timeline */
#storyline h2{
    padding-bottom: 0.8em;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.timeline-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
}

.timeline-date {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: #333;
}

.timeline-content {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    margin-bottom: 10px;
}

.timeline-content p {
    margin-bottom: 0;
}

/* Styling for the home section */

#home {
    position: relative;
    height: 100vh;
    margin: 10px auto;
    padding: 10px;
    z-index: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /*opacity: 0.9;*/
}

.background-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-picture figcaption {
    font-size: 24px;
    color: #fff;
}

/* Styling for the home section End */

/* Responsive Styles */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
    main {
        margin: 10px;
        padding: 10px;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    .timeline-item {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .timeline-date {
        font-size: 14px;
    }

    .timeline-content {
        padding: 10px;
        margin-top: 1em;
    }

    .timeline-content h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .timeline-content p {
        font-size: 14px;
    }

    #home {
        margin: 10px;
        padding: 10px;
        z-index: 0;
    }

    .profile-picture img {
        width: 150px;
        height: 150px;
    }

    .profile-picture figcaption {
        font-size: 18px;
    }
}

/* Medium devices (between 577px and 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    main {
        margin: 15px;
        padding: 15px;
    }

    section {
        margin: 15px;
        padding: 15px;
    }

    .timeline-item {
        padding-left: 30px;
        margin-bottom: 30px;
    }

    .timeline-date {
        font-size: 16px;
    }

    .timeline-content {
        padding: 15px;
        margin-top: 1.5em;
    }

    .timeline-content h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .timeline-content p {
        font-size: 16px;
    }

    #home {
        margin: 15px;
        padding: 15px;
        z-index: 0;
    }

    .profile-picture img {
        width: 175px;
        height: 175px;
    }

    .profile-picture figcaption {
        font-size: 20px;
    }
}

/* Large devices (above 992px) */
@media (min-width: 993px) {
    main {
        margin: 20px auto;
        padding: 20px;
    }

    section {
        margin: 20px;
        padding: 20px;
    }

    .timeline-item {
        padding-left: 40px;
        margin-bottom: 40px;
    }

    .timeline-date {
        font-size: 18px;
    }

    .timeline-content {
        padding: 20px;
        margin-top: 2em;
    }

    .timeline-content h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .timeline-content p {
        font-size: 18px;
    }

    #home {
        margin: 10px auto;
        padding: 10px;
        z-index: 0;
    }

    .profile-picture img {
        width: 200px;
        height: 200px;
    }

    .profile-picture figcaption {
        font-size: 24px;
    }
}
